<!DOCTYPE html>
<html>
<title>Universitarios Unios</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{mix('css/app.css')}}" rel="stylesheet" type="text/css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
<div class="w3-bar-up w3-theme-d2-up w3-left-align-up w3-large-up">
    <a href="#" class="w3-button-up" title="Comunicaciones">PRESENTACIÓN</a>
    <a href="#" class="w3-button-up" title="Account Settings">FORMACIÓN PERSONAL</a>
    <a href="#" class="w3-button-up" title="Messages">BLOG OFICIAL</a>
    <a href="#" class="w3-button-up" title="Messages">CONSULTAS</a>
    <a href="#" class="w3-button-up" title="Messages">ENTRAR</a>
    <a href="#" class="w3-button-up" title="Messages">REGISTRARSE</a>
</div>
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a href="#" class="w3-bar-item w3-padding-large"><img src="/img/logo_app.png" style="width:50%" class="w3-margin-bottom"></a>
  <a href="#" class="w3-button w3-hide-small w3-hover-white" title="Comunicaciones">COMUNICACIONES</a>
  <a href="#" class="w3-button w3-hide-small w3-hover-white" title="Account Settings">NOTICIAS</a>
  <a href="#" class="w3-button w3-hide-small w3-hover-white" title="Messages">INVESTIGACIONES</a>
  <a href="#" class="w3-button w3-hide-small w3-hover-white" title="Messages">ESTUDIOS</a>
  <a href="#" class="w3-button w3-hide-small w3-hover-white" title="Messages">TESIS</a>
  <a href="#" class="w3-button w3-hide-small w3-hover-white" title="Messages">CURSOS</a>
  <a href="#" class="w3-button w3-hide-small w3-hover-white" title="Messages">ARTE</a>
  <a href="administracion.php" class="w3-button w3-hide-small w3-hover-white" title="Messages">OTROS</a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Favoritos</h4>
        
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i></p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> </p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i></p>
        </div>
      </div>
      <br>
      
     
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Alertas</strong></p>
        <p></p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity"></h6>
              <button class="accordion">Section 1</button>
<div class="panel">
  <p>
<div class="w3-responsive">
<table class="w3-table-all">
<tr>
  <th>Comunicaciones</th>
  <th>Noticias</th>
  <th>Investigaciones</th>
  <th>Estudios</th>
  <th>Tesis</th>
  <th>Cursos</th>
  <th>Arte</th>
  <th>Administracion</th>
</tr>
<tr>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
</tr>

</table>
</div>
    <button class="w3-button w3-block w3-theme-l4">Editar</button></p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>
<div class="w3-responsive">
<table class="w3-table-all">
<tr>
  <th>Comunicaciones</th>
  <th>Noticias</th>
  <th>Investigaciones</th>
  <th>Estudios</th>
  <th>Tesis</th>
  <th>Cursos</th>
  <th>Arte</th>
  <th>Administracion</th>
</tr>
<tr>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
</tr>

</table>
</div>
    <button class="w3-button w3-block w3-theme-l4">Editar</button></p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>
<div class="w3-responsive">
<table class="w3-table-all">
<tr>
  <th>Comunicaciones</th>
  <th>Noticias</th>
  <th>Investigaciones</th>
  <th>Estudios</th>
  <th>Tesis</th>
  <th>Cursos</th>
  <th>Arte</th>
  <th>Administracion</th>
</tr>
<tr>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
  <td>Lectura</td>
</tr>

</table>
</div>
    <button class="w3-button w3-block w3-theme-l4">Editar</button></p>
</div>
            </div>
          </div>
        </div>
      </div>
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Eventos:</p>
          
          <p><strong></strong></p>
          <p></p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Eventos:</p>
          <span>Usuario</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p>Otros</p>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}


</script>

</body>
</html> 
